.Search {
	padding: 10px;
}

.InputStyle{
	background-color: yellow;
	border: 1px solid black;
}

.SpanStyle{
	color: whitesmoke;
	font-weight: bold;
}

.ButtonStyle{
	background-color: darkgoldenrod;
	color: lightpink;
}
